label {
  display: block;
  margin-top: 10px;
}

.button {
  background-color:#181718;
  border: purple;
  color: white;
  padding: 15px 40px;
  font-size: 18px;
  display: block;
  margin: 6px;
}

.create-button {
  background-color:#181718;
  border: purple;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  
}

/*.card-container.card {
  max-width: 350px !important;
  max-height: 600px;
  padding: 40px 40px;
}*/

/*.card card-body{
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}*/

.title {
text-align: center;
overflow-x: auto;
}
body {
  background:#a591b6 !important;
  min-height:100vh;
  display:flex;
  font-weight:400;
  font-family:'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span{
  font-weight:500;
  font-family: 'Fira Sans', sans-serif;
}

body,html,.App, #root, .auth-wrapper {
  width:100%;
  height:100%;
}

.navbar-light{
  background-color:#181718;
  box-shadow: 0px 14px 80px rgba(34,35,58,0.2);
  text-size-adjust: 15px;


}
.auth-wrapper{
  display:flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner{
  width:1230px;
  height: 700px;
  margin:auto;
  background:#ffffff;
  box-shadow: 0px 14px 80px rgba(34,35,58,0.2);
  padding:40px 55px 45px 55px;
  border-radius:15px;
  transition:all .3s;

}
.auth-wrapper .form-control:focus{
  border-color:#aeb8c4;
  box-shadow: none;
  text-size-adjust: 30px;
}
.auth-wrapper h3{
  text-align: center;
  margin:0;
  line-height:1;
  padding-bottom:20px;
}
.custom-control-label{
  font-weight: 400;

}
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  color: #fff;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}
section {
  width: 100%;
  max-width: 450px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: rgba(43, 40, 40, 0.4);
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 10px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}
a,
a:visited {
  color: #fff;
}

input[type='text'],
input[type='password'],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}
button {
  padding: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions>svg {
  margin-right: 0.25rem;
}
.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}


